*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}

header{
	height: 100vh;
	background: url(../images/water-43.gif);

	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

/*My Landing Page*/

.myLanding img{
	height: 200px;
	width: 200px;
	border-radius: 50%;
	display: flex;
	align-content: center;
	margin-top: 80%;
}

.myLanding{
	height: 80vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.myLanding > div{
	text-align: center;
}

.myLanding h4{
	color: whitesmoke;
	font-size: 50px;
	margin-top: 5%;
	text-shadow: 3px 3px black;

}

.btn{
	padding: 10px 20px;
	border-radius: 15px;
	border: none;
}

.btnLearn{
	margin-top: 20px;
	background-color: #DC7C20;
	font-size: 15px;
	font-weight: bold;
	color: blue;
	z-index: 1001;
}


/*Media Home Page Ipad*/
@media only screen and (min-width: 360px) and (max-width: 768px){
	.myLanding h4{
	color: whitesmoke;
	font-size: 55px;
	margin-top: 5%;
	text-shadow: 3px 3px black;

	}

	.btn{
		padding: 10px 20px;
		border-radius: 15px;
		border: none;
	}

	.btnLearn{
		margin-top: 20px;
		background-color: #DC7C20;
		font-size: 20px;
		font-weight: bold;
		color: blue;
		z-index: 1001;
	}

}



/*Iphone*/
@media only screen and (max-width: 375px){
	.myLanding h4{
		color: whitesmoke;
		font-size: 40px;
		margin-top: 5%;
		text-shadow: 3px 3px black;

	}

	.btn{
		padding: 10px 20px;
		border-radius: 15px;
		border: none;
	}

	.btnLearn{
		margin-top: 20px;
		background-color: #DC7C20;
		font-size: 13px;
		font-weight: bold;
		color: blue;
		z-index: 1001;
	}


}

/*Android View*/

@media only screen and (max-width: 360px){
	.myLanding h4{
		color: whitesmoke;
		font-size: 30px;
		margin-top: 5%;
		text-shadow: 3px 3px black;

	}

	.btn{
		padding: 10px 20px;
		border-radius: 15px;
		border: none;
	}

	.btnLearn{
		margin-top: 20px;
		background-color: #DC7C20;
		font-size: 10px;
		font-weight: bold;
		color: blue;
		z-index: 1001;
	}

}