*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}

nav{
	height: 75px;
	width: 100%;
	border-bottom: 2px solid whitesmoke;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	background-color: whitesmoke;
	z-index: 2000;
}

nav > ul{
	margin-left: 300px;
	display: flex;
	list-style-type: none;
	color: darkblue;
	font-weight: bold;

}

nav > ul > li{
	margin: 20px;
	font-size: 15px;
	color: darkblue;
}

a{
	color: darkblue;
	text-decoration: none;
}

header img{
	width: 150px;
	height: 60px;
	margin-right: 200px;
}

/*My Landing Page*/

.myLanding img{
	height: 200px;
	width: 200px;
	border-radius: 50%;
	display: flex;
	align-content: center;
	margin-top: 80%;
}

.myLanding{
	height: 80vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.myLanding > div{
	text-align: center;
}

.myLanding h4{
	color: whitesmoke;
	font-size: 50px;
	margin-top: 5%;
	text-shadow: 3px 3px black;

}

.btn{
	padding: 10px 20px;
	border-radius: 15px;
	border: none;
}

/*Section 2 My Home Page*/

.section2{
	height: 110vh;
	background: url(../images/sec2bg.png);
	background-size: cover;
	background-position: center;
	justify-content: center;
	align-items: center;
	background-attachment: fixed;
}

.secHome{
	height: 110vh;
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.secHome > h1{
	font-size: 55px;
	color: gainsboro;
}

.secHome > h1, .secHome > p, .secHome > hr{
	margin-left: 50px;
}

.secHome > p{
	font-size: 20px;
	color: white;
}

.secHome > div > .btn{
	margin-top: 10px;
	background-color: navy;
	color: white;
	display: flex;
	margin-left: 8%;
}


/*Section 3 My About Page*/

.projects{
	height: 120vh;
	background: url(../images/bgSec3.jpg);
	background-size: cover;
	background-position: center;
	display: flex;
	align-items: center;
	justify-content: center;
	background-attachment: fixed;
}

.myprojects img{
	height: 200px;
	width: 350px;
	border-radius: 5%;
}

.projects > div > div > h3{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 50px;
	font-size: 40px;
	color: whitesmoke;
	text-shadow: 1.5px 1.5px black;

}

.myprojectpic{
	width: 80vw;
	display: flex;
	justify-content: space-around;
	align-items: center;

}

.img{
	opacity: 1;
	display: block;
	transition: .5s ease;
	backface-visibility: hidden;
}

.center{
	transition: .5s ease;
	opacity: 0;
	bottom: 50px;
	left: 50%;
	position: relative;
	transform: translate(-50%, -50%);
	text-align: center;
	z-index: 1000;
}

.imgcontainer:hover .img{
	opacity: 0.5;
}

.imgcontainer:hover .center{
	opacity: 1;
}

.text{
	background-color: lightblue;
	color: black;
	font-size: 16px;
	padding: 16px 32px;
	text-align: center;
	font-weight: bold;

}

/*Section 4 Skills*/

.skills{
	height: 120vh;
	background: url(../images/section4BG.jpg);
	background-size: cover;
	background-position: center;
	display: flex;
	align-items: center;
	justify-content: center;
	background-attachment: fixed;
}

/*Gallery*/


/*Form*/
.form{
	background: linear-gradient(rgba(135, 506, 235, 0.25), rgba(107, 247, 201, 0.75)),
	url(../images/sec2bg.png);
	background-position: center;
	background-size: cover;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

form > h4 {
	font-size: 50px;
	text-align: center;
	margin: 10px;
}

input {
	display: block;
	border: 3px solid brown;
	margin: 10px auto;
	height: 40px;
	width: 400px;
	border-radius: 10px;
}

.mensahe{
	color: whitesmoke;
	font-size: 50px;
	font-weight: 800;
	text-shadow: 1.5px 1.5px black;
}

#message{
	height: 20vh;
}


/*Media Home Page Ipad*/
@media only screen and (min-width: 360px) and (max-width: 768px){
	.myprojectpic{
		flex-wrap: wrap;
	}

	nav{
		height: 75px;
		width: 100%;
		border-bottom: 2px solid whitesmoke;
		display: flex;
		justify-content: center;
		align-items: center;
		position: fixed;
		background-color: whitesmoke;
		z-index: 2000;
	}

	nav > ul{
		margin-left: 2px;
		display: flex;
		list-style-type: none;
		color: darkblue;
		font-weight: bold;

	}

	nav > ul > li{
		margin: 8px;
		font-size: 18px;
		color: darkblue;
	}

	a{
		color: darkblue;
		text-decoration: none;
	}

	header img{
		width: 150px;
		height: 60px;
		margin-right: 35px;
	}


	.secHome > div > .btn{
		margin-top: 10px;
		background-color: navy;
		color: white;
		display: flex;
		margin-left: 13%;
	}

	.secHome > h1{
		font-size: 40px;
		color: gainsboro;
	}



/*Iphone*/
@media only screen and (max-width: 375px){
	nav{
		height: 45px;
		width: 375px;
		border-bottom: 2px solid whitesmoke;
		display: flex;
		justify-content: center;
		align-items: center;
		position: fixed;
		background-color: whitesmoke;
		z-index: 2000;
	}

	nav > ul{
		margin-left: 2px;
		display: flex;
		list-style-type: none;
		color: darkblue;
		font-weight: bold;

	}

	nav > ul > li{
		margin: 5px;
		font-size: 8.5px;
		color: darkblue;
	}

	a{
		color: darkblue;
		text-decoration: none;
	}

	header img{
		width: 80px;
		height: 30px;
		margin-right: 10px;
	}


	.myself > p{
		margin: 10px;
	}

	.myprojectpic{
		flex-wrap: wrap;
	}

	.secHome > h1{
		font-size: 20px;
		color: gainsboro;
	}

	.secHome > h1, .secHome > p, .secHome > hr{
		margin-left: 50px;
	}

	.secHome > p{
		font-size: 15px;
		color: white;
	}


	.projects > div > div > h3{
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 20%;
		font-size: 25px;
		color: whitesmoke;
		text-shadow: 1.5px 1.5px black;
	}

	.myprojectpic{
		display: flex;
		flex-wrap: wrap;
		align-items: center;
	}

	.myprojects img{
		height: 150px;
		width: 250px;
		border-radius: 5%;
	}

	.secHome > div > .btn{
		margin-top: 10px;
		background-color: navy;
		color: white;
		display: flex;
		margin-left: 25%;
	}


}

/*Android View*/

@media only screen and (max-width: 360px){
	nav{
		height: 45px;
		width: 360px;
		border-bottom: 2px solid whitesmoke;
		display: flex;
		justify-content: center;
		align-items: center;
		position: fixed;
		background-color: whitesmoke;
		z-index: 2000;
	}

	nav > ul{
		margin-left: 2px;
		display: flex;
		list-style-type: none;
		color: darkblue;
		font-weight: bold;

	}

	nav > ul > li{
		margin: 3px;
		font-size: 8.5px;
		color: darkblue;
	}

	a{
		color: darkblue;
		text-decoration: none;
	}

	header img{
		width: 80px;
		height: 30px;
		margin-right: 10px;
	}


	.secHome > p{
		font-size: 15px;
		color: white;
	}
}